<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tiane.org.ssm.dao.BizAirportMapper">
  <resultMap id="BaseResultMap" type="tiane.org.ssm.entity.BizAirport">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nrcc" jdbcType="VARCHAR" property="nrcc" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, nrcc, country, city
  </sql>
</mapper>