<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tiane.org.ssm.dao.BizCredentialsMapper">
  <resultMap id="BaseResultMap" type="tiane.org.ssm.entity.BizCredentials">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="crm_id" jdbcType="VARCHAR" property="crmId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="expiry" jdbcType="TIMESTAMP" property="expiry" />
  </resultMap>
  <sql id="Base_Column_List">
    id, crm_id, `type`, `number`, expiry
  </sql>
</mapper>